*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bt{
    background-color: yellow;
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.294);
}
#bt:hover{
    background-color: rgba(255, 255, 0, 0.327);
}

.redu{
    width: 600px;
}

ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    opacity: 80%;
    text-decoration: underline;
}

.title{
    background-color: aquamarine;
    display: flex;
    width: 600px;
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px 1px gray;


}
.title:hover{
    background-color: rgb(19, 255, 176);
}

.nav{
    max-width: 1000px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.391);
    min-height: 60px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color:beige
    
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    word-wrap: break-word;
    gap: 10px;
}

.nav ul a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.nav ul a:hover{
    color: aquamarine;
    background-color: gray;
    text-decoration: underline;
    padding: 5px;
}

.base{
    max-width: 1000px;
    background-color: antiquewhite;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.441);
    padding: 40px ;
    text-align: center;
    margin-bottom: 40px;
}
span{

    font-weight: bolder;
    letter-spacing: 3px;
}
h2{
    margin-bottom: 20px;
}

hr{
    margin: 30px 0;
}
img{
    margin: 15px;
}

.stackBox{
    height: 100px;
    width: 800px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.stackBox a{
    color: black;
}

small{
    font-style: italic;
}


.bdContainer{
   background-color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px;
}

.mainContainer{
    width: 1100px;
    min-height: 800px;
    background-color: white;
    margin: auto;
    border-radius: 40px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.418);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    
}

.mainContainer  h1{
    font-size: 50px;
    text-decoration: underline;
}

.skillbox{
    width: 900px;
    height: 170px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
}

.skillbox h2{
    font-size: 30px;
}
.skillbox p {
    font-size: 20px;
}
.skillbox:hover {
    border: 3px solid black; 
}

.skillbox a{
    text-decoration: none;
}

.skillbox:hover {
    color: darkgray;
}

.backEnd{
    background-color: antiquewhite;
}
.backEnd:hover {
    background-color: rgb(251, 242, 229);
}
.frontEnd{
    background-color: rgb(160, 252, 221);
}
.fronEnd:hover{
    background-color: rgba(225, 253, 244, 0.808);
}
.linux{
    background-color: rgb(246, 144, 144);
}
.linux:hover{
    background-color: rgb(251, 194, 194);
}